@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
#transaction-table {
  width: 100%;
  overflow-x: auto;
}

#transaction-table table.mod-width {
  width: 99%;
  margin: auto;
}

@media (max-width: 755px) {
  #transaction-table table.mod-width {
    width: 755px;
  }
}

#transaction-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

#transaction-table table thead tr {
  color: #818299;
}

#transaction-table table thead tr td {
  padding-bottom: 5px;
}

#transaction-table table tbody tr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f9ff;
}

#transaction-table table tbody tr td {
  padding: 0.8rem 0;
  border-top: 1px solid #f5f9ff;
  border-bottom: 1px solid #f5f9ff;
}

#transaction-table table tbody tr td div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transaction-table table tbody tr td div span {
  color: #879DAD;
}

#transaction-table table tbody tr td:nth-child(1) {
  padding-left: 1rem;
  border-radius: 6px 0 0 0;
  border-left: 1px solid #f5f9ff;
}

#transaction-table table tbody tr td:nth-child(1) img {
  margin-right: 1rem;
}

#transaction-table table tbody tr td:nth-child(1) p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

#transaction-table table tbody tr td:last-child {
  padding-right: 1rem;
  border-radius: 0 6px 0 0;
  border-right: 1px solid #f5f9ff;
}

#transaction-table table tbody tr td:last-child div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#transaction-table table tbody tr td:last-child div .badge {
  width: 65%;
}

#transaction-table table tbody tr td:last-child div button.toggle {
  all: unset;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #edf2fc;
  border-radius: 6px;
  border: none;
}

#transaction-table table tbody tr td:last-child div button.toggle span {
  cursor: pointer;
}

#transaction-table table tbody tr td:last-child div button:focus {
  outline: none;
}

#transaction-table table tbody tr.collapsed {
  background-color: transparent;
  border-spacing: 0 !important;
}

#transaction-table table tbody tr.collapsed td {
  border-top: 1px solid #dbe5f4;
  border-bottom: 1px solid #dbe5f4;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#transaction-table table tbody tr.collapsed td:nth-child(1) {
  border-left: 1px solid #dbe5f4;
  border-radius: 6px 0 0 6px;
}

#transaction-table table tbody tr.collapsed td:last-child {
  border-right: 1px solid #dbe5f4;
  border-radius: 0 6px 6px 0;
}

#transaction-table table tbody .tr-extension {
  background-color: #fff;
}

#transaction-table table tbody .tr-extension td {
  -webkit-column-span: 4;
          column-span: 4;
  margin-bottom: 10px;
  padding: 0 !important;
  border: none !important;
}

#transaction-table table tbody .tr-extension td div.tr-extension__content {
  background-color: #f5f9ff;
  position: relative;
  top: -11px;
  padding: 1rem 1.4rem;
  border-radius: 0 0 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transaction-table table tbody .tr-extension .col-one span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#transaction-table table tbody .tr-extension .col-one span img {
  margin: 0 !important;
}

#transaction-table table tbody .tr-extension .col-one span:nth-child(2) {
  margin: 0 5px;
}

#transaction-table table tbody .tr-extension .col-two,
#transaction-table table tbody .tr-extension .col-three,
#transaction-table table tbody .tr-extension .col-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#transaction-table table tbody .tr-extension .col-two small,
#transaction-table table tbody .tr-extension .col-three small,
#transaction-table table tbody .tr-extension .col-four small {
  color: #879DAD;
}

#transaction-table table tbody .tr-extension .col-two p,
#transaction-table table tbody .tr-extension .col-three p,
#transaction-table table tbody .tr-extension .col-four p {
  margin-bottom: 0;
}

#transaction-table table tbody .tr-extension .col-five button {
  display: none;
  background: #e6efff;
  border-radius: 6px;
  font-weight: bold;
  color: #015EFF;
  border: none;
  padding: 0.7rem 2rem;
  width: 100%;
}

#transaction-table table .table-alt .tr-extension {
  background-color: #f5f9ff;
}

#transaction-table table .table-alt tr.collapsed,
#transaction-table table .table-alt tr {
  background-color: #fff;
}

#transaction-table table .table-alt tr.collapsed td:nth-child(1),
#transaction-table table .table-alt tr td:nth-child(1) {
  -webkit-box-shadow: 0px -2px 7px -5px rgba(169, 181, 192, 0.2), 0 5px 7px -5px rgba(169, 181, 192, 0.2), -5px 0 7px -5px rgba(169, 181, 192, 0.2);
          box-shadow: 0px -2px 7px -5px rgba(169, 181, 192, 0.2), 0 5px 7px -5px rgba(169, 181, 192, 0.2), -5px 0 7px -5px rgba(169, 181, 192, 0.2);
  padding-left: 1.4rem;
}

#transaction-table table .table-alt tr.collapsed td:last-child,
#transaction-table table .table-alt tr td:last-child {
  -webkit-box-shadow: 0px -2px 7px -5px rgba(169, 181, 192, 0.2), 0 5px 7px -5px rgba(169, 181, 192, 0.2), 5px 0 7px -5px rgba(169, 181, 192, 0.2);
          box-shadow: 0px -2px 7px -5px rgba(169, 181, 192, 0.2), 0 5px 7px -5px rgba(169, 181, 192, 0.2), 5px 0 7px -5px rgba(169, 181, 192, 0.2);
  padding-right: 1.4rem;
}

#transaction-table table .table-alt tr.collapsed td,
#transaction-table table .table-alt tr td {
  -webkit-box-shadow: 0px -2px 7px -5px rgba(169, 181, 192, 0.2), 0 5px 7px -5px rgba(169, 181, 192, 0.2);
          box-shadow: 0px -2px 7px -5px rgba(169, 181, 192, 0.2), 0 5px 7px -5px rgba(169, 181, 192, 0.2);
  border: none !important;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

#transaction-table table .table-alt tr.collapsed td div .avatar-img,
#transaction-table table .table-alt tr td div .avatar-img {
  width: 40px;
  height: 40px;
}

#transaction-table table .table-alt tr.collapsed td div section,
#transaction-table table .table-alt tr td div section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 9px;
}

#transaction-table table .table-alt tr.collapsed td div section .img-attachment,
#transaction-table table .table-alt tr td div section .img-attachment {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 16px;
  margin: 0 auto;
  height: 19px;
  width: 19px;
}

#transaction-table table .table-alt tr.collapsed td div p,
#transaction-table table .table-alt tr td div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
  font-weight: 500;
  color: #4a4b65;
}

#transaction-table table .table-alt tr.collapsed td div p span,
#transaction-table table .table-alt tr td div p span {
  color: unset;
}

#transaction-table table .table-alt tr.collapsed td div p .icon-wrap,
#transaction-table table .table-alt tr td div p .icon-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#transaction-table table .table-alt tr.collapsed td div p small,
#transaction-table table .table-alt tr td div p small {
  display: inherit;
  color: #879DAD;
  font-weight: normal;
}

#transaction-table table .table-alt tr.expanded {
  background-color: #f5f9ff;
}

#transaction-table table .table-alt tr.expanded td {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#transaction-table table .table-alt tr.expanded td:nth-child(2) div p small,
#transaction-table table .table-alt tr.expanded td:nth-child(3) div p small {
  display: none;
}

@media (max-width: 1250px) {
  #transaction-table table {
    width: 650px;
  }
}

@media (max-width: 925px) {
  #transaction-table table {
    width: 100%;
  }
}

@media (max-width: 650px) {
  #transaction-table table {
    width: 650px;
  }
}

@media (min-width: 925px) and (max-width: 1024px) {
  .recipients-table table {
    width: 750px !important;
  }
  .recipients-table table tbody tr td {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
}
/*# sourceMappingURL=TransactionsTable.css.map */