@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@media (min-width: 755px) {
  #layout ::-webkit-scrollbar {
    width: 7px;
  }
  #layout ::-webkit-scrollbar-track {
    background: #fff;
  }
  #layout ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 50px;
  }
  #layout ::-webkit-scrollbar-thumb:hover {
    background: darkgray;
  }
}

#layout aside {
  width: 180px;
  padding: 25px 35px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.055);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.055);
  height: 100%;
  position: fixed;
  background-color: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 100;
}

#layout aside .logo-container img {
  max-width: 100%;
}

#layout aside nav {
  margin-top: 5rem;
  width: 100%;
}

#layout aside ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

#layout aside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 2rem 0;
}

#layout aside ul li a {
  text-decoration: none;
  color: unset;
}

#layout aside ul li img {
  margin-right: 10px;
}

#layout aside ul li.active {
  color: #015EFF;
  font-weight: 600;
}

#layout aside .bg-shape {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
}

#layout aside .bg-shape img {
  max-width: 100%;
}

@media (max-width: 925px) {
  #layout .sidebar-expanded#animate {
    -webkit-animation-name: slide-in;
            animation-name: slide-in;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  @-webkit-keyframes slide-in {
    from {
      -webkit-transform: translateX(-181px);
              transform: translateX(-181px);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-in {
    from {
      -webkit-transform: translateX(-181px);
              transform: translateX(-181px);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  #layout .sidebar-wrapper {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.226);
  }
  #layout .sidebar-wrapper .close-section {
    width: 100%;
    height: 100%;
  }
  #layout .sidebar-wrapper-closed aside {
    display: none;
  }
  #layout .sidebar-wrapper-closed aside#animate {
    display: block;
    -webkit-animation-name: slide-out;
            animation-name: slide-out;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  @-webkit-keyframes slide-out {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-251px);
              transform: translateX(-251px);
    }
  }
  @keyframes slide-out {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-251px);
              transform: translateX(-251px);
    }
  }
}

#layout .main-content {
  min-height: 100vh;
  background-color: #f5f6f9;
  margin-left: 250px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

#layout .main-content .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 30px;
}

@media (max-width: 475px) {
  #layout .main-content .content-wrapper {
    padding: 20px 20px;
  }
}

#layout .main-content .content-wrapper.payment {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 925px) {
  #layout .main-content {
    margin-left: 0;
  }
}

.withRightSidebar .main-content {
  display: block !important;
  min-height: 100vh;
  height: 100vh;
  background-color: #f5f6f9;
  margin-left: 250px;
  overflow-y: auto;
  margin-right: 370px;
  padding: 70px 20px;
}

@media (max-width: 725px) {
  .withRightSidebar .main-content {
    height: auto;
  }
}

.withRightSidebar .main-content header {
  display: none;
}

@media (max-width: 1270px) {
  .withRightSidebar .main-content {
    margin-right: 0;
    padding: 20px;
  }
  .withRightSidebar .main-content header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#notifications-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 339px;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  top: 12px;
  right: -3px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.123);
          box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.123);
}

#notifications-dropdown .pointer {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #0734E5;
  right: 10px;
  top: 0px;
  margin: auto 0;
  -webkit-transform: rotate(120deg) skewX(-35deg);
          transform: rotate(120deg) skewX(-35deg);
  z-index: -1;
}

#notifications-dropdown .top-border {
  width: 100%;
  height: 29px;
  background: linear-gradient(168.01deg, #0185ff 0%, #0b07d6 100%);
}

#notifications-dropdown ul {
  padding: 0 1rem 1rem;
  list-style: none;
}

#notifications-dropdown ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#notifications-dropdown ul li img {
  margin-right: 20px;
  margin-top: 15px;
}

#notifications-dropdown ul li p {
  font-size: 13px;
  padding-right: 3%;
  margin-bottom: 0;
}

#profile-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 182px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.123);
          box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.123);
}

#profile-dropdown ul {
  padding: 1.2rem;
  list-style: none;
  border-bottom: 1px solid #efefef;
}

#profile-dropdown ul li {
  margin: 0 0 .5rem;
  font-size: 13px;
  font-weight: 400;
}

#profile-dropdown ul li a {
  color: #4A4B65;
}

#profile-dropdown a.logout-link {
  padding: 0 1.2rem 1rem;
  color: #4A4B65;
}
/*# sourceMappingURL=Layout.css.map */