@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
#payment-recipient .main-content .content-wrapper,
#payment-transfer .main-content .content-wrapper,
#payment-options .main-content .content-wrapper,
#payment-review .main-content .content-wrapper {
  margin-left: 310px;
}

#payment-recipient .page-title,
#payment-transfer .page-title,
#payment-options .page-title,
#payment-review .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}

#payment-recipient .page-title h1,
#payment-transfer .page-title h1,
#payment-options .page-title h1,
#payment-review .page-title h1 {
  font-size: 1.3rem;
  color: #4A4B65;
}

#payment-recipient .section-one,
#payment-recipient .section-two,
#payment-recipient .section-three,
#payment-transfer .section-one,
#payment-transfer .section-two,
#payment-transfer .section-three,
#payment-options .section-one,
#payment-options .section-two,
#payment-options .section-three,
#payment-review .section-one,
#payment-review .section-two,
#payment-review .section-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 28%;
}

#payment-recipient .section-one .section-title p,
#payment-recipient .section-two .section-title p,
#payment-recipient .section-three .section-title p,
#payment-transfer .section-one .section-title p,
#payment-transfer .section-two .section-title p,
#payment-transfer .section-three .section-title p,
#payment-options .section-one .section-title p,
#payment-options .section-two .section-title p,
#payment-options .section-three .section-title p,
#payment-review .section-one .section-title p,
#payment-review .section-two .section-title p,
#payment-review .section-three .section-title p {
  color: #4A4B65;
  font-weight: 500;
}

#payment-recipient .section-one .box-container,
#payment-recipient .section-two .box-container,
#payment-recipient .section-three .box-container,
#payment-transfer .section-one .box-container,
#payment-transfer .section-two .box-container,
#payment-transfer .section-three .box-container,
#payment-options .section-one .box-container,
#payment-options .section-two .box-container,
#payment-options .section-three .box-container,
#payment-review .section-one .box-container,
#payment-review .section-two .box-container,
#payment-review .section-three .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#payment-recipient .section-one .box-container .shadow-box,
#payment-recipient .section-two .box-container .shadow-box,
#payment-recipient .section-three .box-container .shadow-box,
#payment-transfer .section-one .box-container .shadow-box,
#payment-transfer .section-two .box-container .shadow-box,
#payment-transfer .section-three .box-container .shadow-box,
#payment-options .section-one .box-container .shadow-box,
#payment-options .section-two .box-container .shadow-box,
#payment-options .section-three .box-container .shadow-box,
#payment-review .section-one .box-container .shadow-box,
#payment-review .section-two .box-container .shadow-box,
#payment-review .section-three .box-container .shadow-box {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#payment-recipient .section-one .box-container .shadow-box img,
#payment-recipient .section-two .box-container .shadow-box img,
#payment-recipient .section-three .box-container .shadow-box img,
#payment-transfer .section-one .box-container .shadow-box img,
#payment-transfer .section-two .box-container .shadow-box img,
#payment-transfer .section-three .box-container .shadow-box img,
#payment-options .section-one .box-container .shadow-box img,
#payment-options .section-two .box-container .shadow-box img,
#payment-options .section-three .box-container .shadow-box img,
#payment-review .section-one .box-container .shadow-box img,
#payment-review .section-two .box-container .shadow-box img,
#payment-review .section-three .box-container .shadow-box img {
  margin-right: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#payment-recipient .section-one .box-container .shadow-box p,
#payment-recipient .section-two .box-container .shadow-box p,
#payment-recipient .section-three .box-container .shadow-box p,
#payment-transfer .section-one .box-container .shadow-box p,
#payment-transfer .section-two .box-container .shadow-box p,
#payment-transfer .section-three .box-container .shadow-box p,
#payment-options .section-one .box-container .shadow-box p,
#payment-options .section-two .box-container .shadow-box p,
#payment-options .section-three .box-container .shadow-box p,
#payment-review .section-one .box-container .shadow-box p,
#payment-review .section-two .box-container .shadow-box p,
#payment-review .section-three .box-container .shadow-box p {
  font-weight: 600;
  font-size: 18px;
  color: #4A4B65;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#payment-recipient .section-one .box-container .shadow-box p.flexible-text,
#payment-recipient .section-two .box-container .shadow-box p.flexible-text,
#payment-recipient .section-three .box-container .shadow-box p.flexible-text,
#payment-transfer .section-one .box-container .shadow-box p.flexible-text,
#payment-transfer .section-two .box-container .shadow-box p.flexible-text,
#payment-transfer .section-three .box-container .shadow-box p.flexible-text,
#payment-options .section-one .box-container .shadow-box p.flexible-text,
#payment-options .section-two .box-container .shadow-box p.flexible-text,
#payment-options .section-three .box-container .shadow-box p.flexible-text,
#payment-review .section-one .box-container .shadow-box p.flexible-text,
#payment-review .section-two .box-container .shadow-box p.flexible-text,
#payment-review .section-three .box-container .shadow-box p.flexible-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#payment-recipient .section-one .box-container .shadow-box p.flexible-text span,
#payment-recipient .section-two .box-container .shadow-box p.flexible-text span,
#payment-recipient .section-three .box-container .shadow-box p.flexible-text span,
#payment-transfer .section-one .box-container .shadow-box p.flexible-text span,
#payment-transfer .section-two .box-container .shadow-box p.flexible-text span,
#payment-transfer .section-three .box-container .shadow-box p.flexible-text span,
#payment-options .section-one .box-container .shadow-box p.flexible-text span,
#payment-options .section-two .box-container .shadow-box p.flexible-text span,
#payment-options .section-three .box-container .shadow-box p.flexible-text span,
#payment-review .section-one .box-container .shadow-box p.flexible-text span,
#payment-review .section-two .box-container .shadow-box p.flexible-text span,
#payment-review .section-three .box-container .shadow-box p.flexible-text span {
  color: #879DAD;
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 555px) {
  #payment-recipient .section-one .box-container,
  #payment-recipient .section-two .box-container,
  #payment-recipient .section-three .box-container,
  #payment-transfer .section-one .box-container,
  #payment-transfer .section-two .box-container,
  #payment-transfer .section-three .box-container,
  #payment-options .section-one .box-container,
  #payment-options .section-two .box-container,
  #payment-options .section-three .box-container,
  #payment-review .section-one .box-container,
  #payment-review .section-two .box-container,
  #payment-review .section-three .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  #payment-recipient .section-one .box-container .shadow-box,
  #payment-recipient .section-two .box-container .shadow-box,
  #payment-recipient .section-three .box-container .shadow-box,
  #payment-transfer .section-one .box-container .shadow-box,
  #payment-transfer .section-two .box-container .shadow-box,
  #payment-transfer .section-three .box-container .shadow-box,
  #payment-options .section-one .box-container .shadow-box,
  #payment-options .section-two .box-container .shadow-box,
  #payment-options .section-three .box-container .shadow-box,
  #payment-review .section-one .box-container .shadow-box,
  #payment-review .section-two .box-container .shadow-box,
  #payment-review .section-three .box-container .shadow-box {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 1270px) {
  #payment-recipient .section-one,
  #payment-recipient .section-two,
  #payment-recipient .section-three,
  #payment-transfer .section-one,
  #payment-transfer .section-two,
  #payment-transfer .section-three,
  #payment-options .section-one,
  #payment-options .section-two,
  #payment-options .section-three,
  #payment-review .section-one,
  #payment-review .section-two,
  #payment-review .section-three {
    padding-right: 0;
  }
}

@media (max-width: 1060px) {
  #payment-recipient #payment-sidebar,
  #payment-transfer #payment-sidebar,
  #payment-options #payment-sidebar,
  #payment-review #payment-sidebar {
    display: none;
  }
  #payment-recipient .main-content .content-wrapper,
  #payment-transfer .main-content .content-wrapper,
  #payment-options .main-content .content-wrapper,
  #payment-review .main-content .content-wrapper {
    margin-left: 0;
  }
}

#payment-recipient .section-two,
#payment-transfer .section-two,
#payment-options .section-two,
#payment-review .section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#payment-recipient .section-two .box-container,
#payment-transfer .section-two .box-container,
#payment-options .section-two .box-container,
#payment-review .section-two .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

#payment-recipient .section-two .box-container .shadow-box,
#payment-transfer .section-two .box-container .shadow-box,
#payment-options .section-two .box-container .shadow-box,
#payment-review .section-two .box-container .shadow-box {
  padding: 0 4%;
  margin-bottom: 0;
  height: 47px;
  width: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select,
#payment-transfer .section-two .box-container .shadow-box .ant-select,
#payment-options .section-two .box-container .shadow-box .ant-select,
#payment-review .section-two .box-container .shadow-box .ant-select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  cursor: pointer;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select .ant-select-selection-placeholder,
#payment-transfer .section-two .box-container .shadow-box .ant-select .ant-select-selection-placeholder,
#payment-options .section-two .box-container .shadow-box .ant-select .ant-select-selection-placeholder,
#payment-review .section-two .box-container .shadow-box .ant-select .ant-select-selection-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select .ant-select-selector,
#payment-transfer .section-two .box-container .shadow-box .ant-select .ant-select-selector,
#payment-options .section-two .box-container .shadow-box .ant-select .ant-select-selector,
#payment-review .section-two .box-container .shadow-box .ant-select .ant-select-selector {
  border: none;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select .ant-select-selection-item,
#payment-transfer .section-two .box-container .shadow-box .ant-select .ant-select-selection-item,
#payment-options .section-two .box-container .shadow-box .ant-select .ant-select-selection-item,
#payment-review .section-two .box-container .shadow-box .ant-select .ant-select-selection-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select .ant-select-selection-item img,
#payment-transfer .section-two .box-container .shadow-box .ant-select .ant-select-selection-item img,
#payment-options .section-two .box-container .shadow-box .ant-select .ant-select-selection-item img,
#payment-review .section-two .box-container .shadow-box .ant-select .ant-select-selection-item img {
  display: none;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select .ant-select-arrow,
#payment-transfer .section-two .box-container .shadow-box .ant-select .ant-select-arrow,
#payment-options .section-two .box-container .shadow-box .ant-select .ant-select-arrow,
#payment-review .section-two .box-container .shadow-box .ant-select .ant-select-arrow {
  color: #000;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select .ant-select-arrow::before,
#payment-transfer .section-two .box-container .shadow-box .ant-select .ant-select-arrow::before,
#payment-options .section-two .box-container .shadow-box .ant-select .ant-select-arrow::before,
#payment-review .section-two .box-container .shadow-box .ant-select .ant-select-arrow::before {
  content: "";
  background-color: #000;
  width: 10px;
  height: 10px;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select-focused .ant-select-selector,
#payment-transfer .section-two .box-container .shadow-box .ant-select-focused .ant-select-selector,
#payment-options .section-two .box-container .shadow-box .ant-select-focused .ant-select-selector,
#payment-review .section-two .box-container .shadow-box .ant-select-focused .ant-select-selector {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#payment-recipient .section-two .box-container .shadow-box .ant-select-focused .ant-select-arrow,
#payment-transfer .section-two .box-container .shadow-box .ant-select-focused .ant-select-arrow,
#payment-options .section-two .box-container .shadow-box .ant-select-focused .ant-select-arrow,
#payment-review .section-two .box-container .shadow-box .ant-select-focused .ant-select-arrow {
  color: inherit;
}

#payment-recipient .section-two .box-container .shadow-box span.material-icons,
#payment-transfer .section-two .box-container .shadow-box span.material-icons,
#payment-options .section-two .box-container .shadow-box span.material-icons,
#payment-review .section-two .box-container .shadow-box span.material-icons {
  position: absolute;
  right: 35px;
}

#payment-recipient .section-two .box-container .side-link,
#payment-transfer .section-two .box-container .side-link,
#payment-options .section-two .box-container .side-link,
#payment-review .section-two .box-container .side-link {
  margin-left: 15px;
}

#payment-recipient .section-two .box-container .side-link a,
#payment-transfer .section-two .box-container .side-link a,
#payment-options .section-two .box-container .side-link a,
#payment-review .section-two .box-container .side-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#payment-recipient .section-two .box-container .side-link a span,
#payment-transfer .section-two .box-container .side-link a span,
#payment-options .section-two .box-container .side-link a span,
#payment-review .section-two .box-container .side-link a span {
  font-size: 18px;
  margin-left: 10px;
}

@media (max-width: 555px) {
  #payment-recipient .section-two,
  #payment-transfer .section-two,
  #payment-options .section-two,
  #payment-review .section-two {
    padding-right: 0;
  }
  #payment-recipient .section-two .box-container,
  #payment-transfer .section-two .box-container,
  #payment-options .section-two .box-container,
  #payment-review .section-two .box-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 611px) {
  #payment-recipient .section-two .box-container,
  #payment-transfer .section-two .box-container,
  #payment-options .section-two .box-container,
  #payment-review .section-two .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #payment-recipient .section-two .box-container .shadow-box,
  #payment-transfer .section-two .box-container .shadow-box,
  #payment-options .section-two .box-container .shadow-box,
  #payment-review .section-two .box-container .shadow-box {
    width: 100%;
    margin-bottom: 1rem;
  }
  #payment-recipient .section-two .box-container .side-link,
  #payment-transfer .section-two .box-container .side-link,
  #payment-options .section-two .box-container .side-link,
  #payment-review .section-two .box-container .side-link {
    width: 100%;
  }
}

#payment-recipient .section-divider,
#payment-transfer .section-divider,
#payment-options .section-divider,
#payment-review .section-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #b4bec6;
  opacity: 0.4;
  margin-bottom: 1rem;
}

#payment-recipient .section-three,
#payment-transfer .section-three,
#payment-options .section-three,
#payment-review .section-three {
  padding-bottom: 5rem;
}

#payment-recipient .section-three .box-container .shadow-box,
#payment-transfer .section-three .box-container .shadow-box,
#payment-options .section-three .box-container .shadow-box,
#payment-review .section-three .box-container .shadow-box {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.5%;
}

#payment-recipient .section-three .box-container .shadow-box .action,
#payment-transfer .section-three .box-container .shadow-box .action,
#payment-options .section-three .box-container .shadow-box .action,
#payment-review .section-three .box-container .shadow-box .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#payment-recipient .section-three .box-container .shadow-box .action a,
#payment-transfer .section-three .box-container .shadow-box .action a,
#payment-options .section-three .box-container .shadow-box .action a,
#payment-review .section-three .box-container .shadow-box .action a {
  font-size: 14px;
}

#payment-recipient .section-three .box-container .shadow-box .action a.spacer,
#payment-transfer .section-three .box-container .shadow-box .action a.spacer,
#payment-options .section-three .box-container .shadow-box .action a.spacer,
#payment-review .section-three .box-container .shadow-box .action a.spacer {
  visibility: hidden;
}

#payment-recipient .section-three .box-container .shadow-box .user-details,
#payment-transfer .section-three .box-container .shadow-box .user-details,
#payment-options .section-three .box-container .shadow-box .user-details,
#payment-review .section-three .box-container .shadow-box .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#payment-recipient .section-three .box-container .shadow-box .user-details__avi,
#payment-transfer .section-three .box-container .shadow-box .user-details__avi,
#payment-options .section-three .box-container .shadow-box .user-details__avi,
#payment-review .section-three .box-container .shadow-box .user-details__avi {
  position: relative;
  margin-right: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#payment-recipient .section-three .box-container .shadow-box .user-details__avi img:nth-child(1),
#payment-transfer .section-three .box-container .shadow-box .user-details__avi img:nth-child(1),
#payment-options .section-three .box-container .shadow-box .user-details__avi img:nth-child(1),
#payment-review .section-three .box-container .shadow-box .user-details__avi img:nth-child(1) {
  height: 55px;
  width: 55px;
  margin-right: 0;
}

#payment-recipient .section-three .box-container .shadow-box .user-details__avi img:nth-child(2),
#payment-transfer .section-three .box-container .shadow-box .user-details__avi img:nth-child(2),
#payment-options .section-three .box-container .shadow-box .user-details__avi img:nth-child(2),
#payment-review .section-three .box-container .shadow-box .user-details__avi img:nth-child(2) {
  position: absolute;
  margin: auto;
  bottom: -10px;
}

#payment-recipient .section-three .box-container .shadow-box .user-details__text-wrapper,
#payment-transfer .section-three .box-container .shadow-box .user-details__text-wrapper,
#payment-options .section-three .box-container .shadow-box .user-details__text-wrapper,
#payment-review .section-three .box-container .shadow-box .user-details__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#payment-recipient .section-three .box-container .shadow-box .user-details__text-wrapper h3,
#payment-transfer .section-three .box-container .shadow-box .user-details__text-wrapper h3,
#payment-options .section-three .box-container .shadow-box .user-details__text-wrapper h3,
#payment-review .section-three .box-container .shadow-box .user-details__text-wrapper h3 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4A4B65;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

#payment-recipient .section-three .box-container .shadow-box .user-details__text-wrapper p,
#payment-transfer .section-three .box-container .shadow-box .user-details__text-wrapper p,
#payment-options .section-three .box-container .shadow-box .user-details__text-wrapper p,
#payment-review .section-three .box-container .shadow-box .user-details__text-wrapper p {
  margin: 0;
  color: #879DAD;
  font-size: 14px;
  font-weight: normal;
}

#payment-recipient .section-three .box-container .shadow-box .contact-details,
#payment-transfer .section-three .box-container .shadow-box .contact-details,
#payment-options .section-three .box-container .shadow-box .contact-details,
#payment-review .section-three .box-container .shadow-box .contact-details {
  margin-top: 2rem;
  padding-left: 1%;
}

#payment-recipient .section-three .box-container .shadow-box .contact-details p,
#payment-transfer .section-three .box-container .shadow-box .contact-details p,
#payment-options .section-three .box-container .shadow-box .contact-details p,
#payment-review .section-three .box-container .shadow-box .contact-details p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a4b65;
  font-size: 15px;
}

#payment-recipient .section-three .box-container .shadow-box .contact-details p img,
#payment-transfer .section-three .box-container .shadow-box .contact-details p img,
#payment-options .section-three .box-container .shadow-box .contact-details p img,
#payment-review .section-three .box-container .shadow-box .contact-details p img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#payment-recipient .section-three .box-container .shadow-box .contact-details p:nth-child(2) img,
#payment-transfer .section-three .box-container .shadow-box .contact-details p:nth-child(2) img,
#payment-options .section-three .box-container .shadow-box .contact-details p:nth-child(2) img,
#payment-review .section-three .box-container .shadow-box .contact-details p:nth-child(2) img {
  margin-right: 13px;
}

#payment-recipient .section-four,
#payment-transfer .section-four,
#payment-options .section-four,
#payment-review .section-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#payment-recipient .section-four a,
#payment-transfer .section-four a,
#payment-options .section-four a,
#payment-review .section-four a {
  all: unset;
}

#payment-recipient .section-four button.left,
#payment-transfer .section-four button.left,
#payment-options .section-four button.left,
#payment-review .section-four button.left {
  color: #818299;
  border: none;
  background-color: transparent;
  padding: 0.7rem 0;
  cursor: pointer;
}

#payment-recipient .section-four button.right,
#payment-transfer .section-four button.right,
#payment-options .section-four button.right,
#payment-review .section-four button.right {
  background-color: #015EFF;
  color: #ffffff !important;
  padding: 0.7rem 5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#payment-recipient .section-four button:focus,
#payment-transfer .section-four button:focus,
#payment-options .section-four button:focus,
#payment-review .section-four button:focus {
  outline: none;
}

.ant-select-item .ant-select-item-option-content img {
  display: none;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: #fff;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected .ant-select-item-option-content {
  color: #015EFF;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected .ant-select-item-option-content img {
  display: inline-block;
}
/*# sourceMappingURL=PaymentRecipient.css.map */