@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
#transaction-history .page-header h4, #recipients .page-header h4, #account .page-header h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #879DAD;
}

#transaction-history .content-title, #recipients .content-title, #account .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0;
}

#transaction-history .content-title h2, #recipients .content-title h2, #account .content-title h2 {
  font-size: 1.2rem;
  line-height: 133.8%;
  color: #4a4b65;
  margin: 0;
}

#transaction-history .content-title form, #recipients .content-title form, #account .content-title form {
  width: 250px;
}

#transaction-history .content-title form label, #recipients .content-title form label, #account .content-title form label {
  -webkit-box-shadow: 0px 2px 5px rgba(169, 181, 192, 0.2);
          box-shadow: 0px 2px 5px rgba(169, 181, 192, 0.2);
  border-radius: 6px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: .4rem 1.2rem;
}

#transaction-history .content-title form label span, #recipients .content-title form label span, #account .content-title form label span {
  color: #015EFF;
  font-size: 18px;
  margin-right: 10px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transaction-history .content-title form input, #recipients .content-title form input, #account .content-title form input {
  border: none;
}

#transaction-history .content-title form input:focus, #recipients .content-title form input:focus, #account .content-title form input:focus {
  outline: none;
}

@media (max-width: 640px) {
  #transaction-history .content-title, #recipients .content-title, #account .content-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #transaction-history .content-title form, #recipients .content-title form, #account .content-title form {
    margin-top: 1rem;
    width: 80% !important;
  }
}

@media (max-width: 475px) {
  #transaction-history .content-title, #recipients .content-title, #account .content-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #transaction-history .content-title form, #recipients .content-title form, #account .content-title form {
    margin-top: 1rem;
    width: 100% !important;
  }
}
/*# sourceMappingURL=TransactionHistory.css.map */