//font
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

//colors
$blue: #015EFF;
$lightblue: rgba(1, 94, 255, 0.1);
$bluegradient: linear-gradient(168.01deg, #0185FF 0%, #0B07D6 100%);
$orange: #F34335;
$green: #0FC578;
$teal: #879DAD;
$darkteal: #4A4B65;
$grey: #818299;
